{% extends 'base1.html' %}
{% block title %}Applied Job Seekers{% endblock %}
{% block content %}

<h1>Applied Job Seekers"{{ job_posting.title }}"</h1>

{% if applied_jobseekers %}
    <ul>
        {% for applicant in applied_jobseekers %}
            <li>
                <h2><strong>Username:</strong>{{ applicant.jobseeker.name }}</h2>
                <p><strong>Email:</strong> {{ applicant.jobseeker.email }}</p> 
                <p><strong>Bio:</strong> {{ applicant.jobseeker.bio }}</p>
                <p><strong>Skills:</strong> {{ applicant.jobseeker.skills }}</p>
                <p><strong>Experience:</strong> {{ applicant.jobseeker.experience }}</p>
                <p><strong>Education:</strong> {{ applicant.jobseeker.education }}</p>
                {% if applicant.jobseeker.resume %}
                    <p><strong>Resume:</strong> <a href="{{ applicant.jobseeker.resume.url }}">{{ applicant.jobseeker.resume}}</a></p>
                {% else %}
                    <p><strong>Resume:</strong> No resume uploaded</p>
                {% endif %}
                <p><strong>Date Applied:</strong> {{ applicant.application.date_applied }}</p>
                <!-- You can include more details as needed -->
                <div class="mt-3 text-center">
                    <button class="btn btn-primary">Hire</button>
                </div>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No job seekers have applied for this job posting yet.</p>
{% endif %}

{% endblock %}
