{% extends 'base.html' %}

{% block title %}home_page{% endblock %}

{% block main_content %}
<section class="container">
  <div class="content__container">
      <h1>
          Best Learning<br />
          <span class="heading__1">Education Platform</span><br />
          <span class="heading__2">in The World</span>
      </h1>
      <p>
          Unlock your full learning potential with our intuitive education
          platform. Seamlessly blending technology and education, we provide an
          immersive learning environment that combines interactive lessons,
          virtual classrooms, and intelligent feedback.
      </p>
      <form>
          <input type="text" placeholder="What do you want to learn" />
          <button type="submit">Search Course</button>
      </form>
  </div>
</section>
{% endblock main_content %}